@{
    ViewBag.Title = "Welcome page!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SportsStore.KendoUI.Models
@using Kendo.Mvc.UI.Fluent

@*@{Html.RenderAction("Summary", "Cart");}*@
<div id="header">
    <div class="title">SPORTS STORE</div>
    <div id="CartBox"></div>
</div>
<div class="content clearfix">
    @(Html.Kendo().TreeView()
                    .Name("categories")
                    .DataTextField("CatName")
                    .DataSource(dataSource => dataSource
                        .Read(read => read
                            .Action("DataBinding", "Product")
                        )
                        .Model(model => model.Id("CatId"))
                    )
                    .Events(events => events
                        .Select("onSelect")
                    )
    )

    @(Html.Kendo().Grid<SportsStore.KendoUI.Models.ProductViewModel>()
                    .Name("products")
                    .DataSource(dataSourcee => dataSourcee
                        .Ajax()
                        .Read(read => read.Action("ReadProducts", "Product"))
                        .PageSize(5)
                        .Model(model => model.Id("ProductId"))
                    )
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Name");
                        columns.Bound(c => c.ProductID).Title("Image").ClientTemplate(@"<img width='75' height='75' src='" + @Url.Action("GetImage", "Product", new { productId = "#:ProductID#" }) + "'/>");
                        columns.Bound(c => c.Description).Title("Description");
                        columns.Bound(c => c.Category.CatName).Title("Category").Width(200);
                        columns.Bound(c => c.Price).Title("Price").Format("{0:c}");
                        columns.Command(command => command.Custom("AddToCart").Text("Добавить в корзину").Click("AddToCartClick"));
                    })
                            .Filterable()
                            .Pageable()
    )
</div>

<style>
    #categories {
        float: left;
        padding: 20px;
        margin: 20px;
        background-color: rgba(54, 57, 64, 0.8);
        color: #ffffff;
    }

    .k-icon {
        width: 30px;
        height: 30px;
    }

    .k-in {
        font-size: 2em;
        padding: 10px;
    }

    #products {
        width: 80%;
        height: 500px;
        float: right;
    }
</style>
<script type="text/x-kendo-template" id="template">
    <div id="cart">
        <span class="caption" style="width: 250px;">
            <b>Ваша корзина:</b>
            <span>количество предметов - #= Quantity#,</span>
            <span>общая сумма - #= Summery# </span>
        </span>

        <a role="button" href="@Url.Action("Index", "Cart")" class="k-button k-button-icontext">В корзину</a>
    </div>
</script>

<script>
    $(document).ready(function () {
        AddToCart(0)
    });

    function AddToCartClick(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        AddToCart(dataItem.ProductID)
       
    }
    function AddToCart(id){
       
        $.ajax({
                    url: "@Url.Action("AddToCartBox", "Cart")",
                    datatype: 'json',
                    type: 'POST',
                    data: { ProductId: id },
                    success: function (data) {
                        if (data.message == "OK") {
                            var template = kendo.template($("#template").html());
                           
                            var result = template(data.result); //Pass the data to the compiled template
                            $("#CartBox").html(result); //display the result

                        } else {

                            kendo.alert(data.errors);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        kendo.alert(thrownError + "-" + xhr.status);
                    }

                });


    }
</script>